h1 {
  text-align: center;
  font-size: 50px;
  color: rgb(20, 20, 20);
}

h2 {
  color: rgb(12, 12, 12);
}

.Headings {
  text-align: center;
}

a {
  color: rgb(6, 6, 6);
}

img {
  height: 500px;
  width: 700px;
  border-radius: 25px;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(rgb(255, 251, 251), rgb(60, 185, 234));
}

button a {
  color: black;
  margin: 10px;
}

button{
  background-color:whitesmoke;
  border-radius: 5px;
  margin: 3px;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
}

.houseList,
.characterList {
  padding: 10px;
}

.app {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #080707;
  border-radius: 10px;
  padding: 16px;
  margin: 16px;
  width: 200px;
}
